# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & artifacts (kept local, not versioned)
data/
artifacts/
*.csv
*.parquet
mlruns/
mlartifacts/

# Env / secrets
.env
.env.*

# OS / editor
.DS_Store
.idea/
.vscode/

# Docker
*.log